@import "nullstyle.css";
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
html {
  font-size: 15px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #2b2a2c;
  -webkit-font-smooth: antialiased;
  background-color: #fff;
}
body.no-scroll {
  overflow: hidden;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 1 auto;
}
[class*="__container"] {
  /* 1200px = 1170 + 15px слева и справа */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  padding: 1.2rem 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
}
.user img {
  border-radius: 50%;
}
.user__content {
  padding-left: 9px;
}
.user__name {
  margin-bottom: 3px;
  font-size: 1.06rem;
  font-weight: 700;
  line-height: 1.2;
  color: #2b2a2c;
}
.user__prof {
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
}
.nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__link {
  margin-left: 2rem;
  position: relative;
  font-size: 0.93rem;
  font-weight: 700;
  color: #2b2a2c;
  text-transform: uppercase;
}
.nav__link::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #2b2a2c;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.nav__link:hover:not(.nav__link_btn)::after {
  width: 100%;
}
.nav__link_btn {
  padding: 0.66em 2rem;
  border: 2px solid #2b2a2c;
  border-radius: 20px;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.nav__link_btn:hover {
  background-color: #2b2a2c;
  color: #fff;
}
.intro__inner {
  display: flex;
  padding-top: 100px;
  padding-bottom: 120px;
  position: relative;
  background: url("../../img/intro/symbols.png") right bottom no-repeat;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
}
.intro__content {
  flex: 0 0 50%;
}
.intro__subtitle {
  margin-bottom: 10px;
  font-size: 2.13rem;
  font-weight: 200;
  color: #2b2a2c;
}
.intro__title {
  margin-bottom: 15px;
  font-size: 3rem;
  font-weight: 700;
  color: #2b2a2c;
}
.intro__text {
  margin-bottom: 25px;
  font-size: 1.2rem;
  color: rgba(43, 42, 44, 0.7);
}
.intro__photo {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1;
}
.social {
  display: flex;
  margin-bottom: 42px;
}
.social__link {
  margin-right: 10px;
  transition: transform 0.2s linear;
}
.social__link:hover {
  transform: translateY(-5px);
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 1.05em 1.7em;
  min-width: 170px;
  border: 1px solid #6a696b;
  border-radius: 1.8em;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.06rem;
  line-height: 1.1;
  color: #2b2a2c;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, border-color 0.2s linear;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #2b2a2c;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
  color: #fff;
  border-color: #2b2a2c;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn_sm {
  padding: 0.7em 1.2em;
  min-width: 0;
  font-size: 0.93rem;
  font-weight: 700;
  border-width: 2px;
}
.works {
  margin: 2.8rem;
}
.works__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.works__nav-link {
  margin: 0 1.2rem;
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
}
.works__nav-link:hover {
  text-decoration: underline;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 2.8rem;
}
.portfolio__col {
  flex: 0 0 33.333%;
  padding: 0 1rem;
}
.text-center {
  text-align: center;
}
._img {
  display: block;
  max-width: 100%;
  height: auto;
}
.work {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s linear;
}
.work:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.work__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.work__content {
  padding: 1rem 0.8rem;
}
.work__cat {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #2b2a2c;
  text-transform: uppercase;
}
.work__title {
  display: flex;
  justify-content: space-between;
  font-size: 1.06rem;
  font-weight: 700;
  color: #2b2a2c;
  text-transform: uppercase;
}
.about {
  margin: 8.4rem 0;
}
.about__inner {
  display: flex;
  max-width: 1090px;
}
.about__photo {
  flex: 0 0 50%;
  position: relative;
}
.about__photo::before {
  content: '';
  width: 413px;
  height: 413px;
  background-color: #efefef;
  position: absolute;
  left: 1rem;
  bottom: 0;
  z-index: 1;
}
.about__image {
  position: relative;
  z-index: 2;
}
.about__content {
  flex: 0 0 50%;
  padding-left: 3.2rem;
  margin-top: 2rem;
}
.about__title {
  font-size: 3rem;
  font-weight: 700;
  color: #2b2a2c;
  text-transform: uppercase;
}
.about__bigtitle {
  margin-bottom: 1.4rem;
  position: relative;
  left: -10px;
  font-size: 6.1rem;
  line-height: 1.1;
  color: rgba(43, 42, 44, 0.15);
  font-weight: 700;
  text-transform: uppercase;
}
.about__text {
  margin-bottom: 2.8rem;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 2;
  color: #6a696b;
}
.reviews {
  position: relative;
  padding: 4.56rem 0;
  background: #332f30 url("../../img/reviews/reviews-bg.png") center no-repeat;
  background-size: cover;
}
.reviews__item {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}
.reviews__text {
  font-size: 0.94rem;
  color: #fff;
  line-height: 2.2;
}
.reviews__author {
  width: 100%;
  margin-top: -51px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.reviews__photo {
  display: block;
  margin: 0 auto 0.6rem;
  width: 103px;
  height: 103px;
  border-radius: 50%;
  border: 4px solid #efefef;
}
.reviews__name {
  margin-bottom: 0.3rem;
  font-size: 1.06rem;
  color: #2b2a2c;
  font-weight: 700;
}
.reviews__company {
  margin-bottom: 0.4rem;
  font-size: 0.94rem;
  color: #6a696b;
  font-weight: 300;
  font-style: italic;
}
.reviews__star {
  width: 13px;
  height: 13px;
}
.news {
  margin-top: 14rem;
  margin-bottom: 8rem;
}
.news__header {
  margin-bottom: 3.6rem;
  text-align: center;
}
.news__title {
  margin-bottom: 0.3rem;
  font-size: 3rem;
  color: #2b2a2c;
  text-transform: uppercase;
  font-weight: 700;
}
.news__text {
  font-size: 1.2rem;
  color: #8d8d8e;
  font-weight: 300;
}
.news__footer {
  text-align: right;
}
.news__link {
  font-size: 0.94rem;
  color: #6a696b;
}
.news__link:hover {
  text-decoration: underline;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.articles__col {
  flex: 0 0 33.333%;
  padding: 0 1rem;
}
.articles__item {
  margin-bottom: 2rem;
}
.articles__header {
  position: relative;
  margin-bottom: 1.35rem;
}
.articles__date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 77px;
  background-color: #2b2a2c;
  text-align: center;
  color: #fff;
  font-size: 1.06rem;
  line-height: 1.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.articles__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.articles__content {
  margin-bottom: 2rem;
}
.articles__title {
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #2b2a2c;
  text-transform: uppercase;
}
.articles__cat {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  color: #2b2a2c;
  text-transform: uppercase;
}
.articles__text {
  font-size: 0.8rem;
  color: #6a696b;
  font-weight: 300;
  line-height: 2;
}
.footer {
  padding: 1rem 0;
  background-color: #2b2a2c;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__credits {
  display: flex;
  align-items: center;
}
.footer__copyright {
  padding-right: 0.8rem;
  margin-right: 1rem;
  font-size: 0.94rem;
  color: #8d8d8e;
  border-right: 1px solid rgba(106, 105, 107, 0.35);
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social a {
  margin-right: 1.2rem;
}
.footer__nav {
  display: flex;
  align-items: center;
  font-size: 0.94rem;
}
.footer__nav-link {
  margin-left: 1.5rem;
  color: #8d8d8e;
}
.footer__nav-link:hover {
  text-decoration: underline;
}
.footer__nav-link_btn {
  padding: 0.5rem 1.4rem;
  border-radius: 20px;
  border: 1px solid #8d8d8e;
  text-transform: uppercase;
  line-height: 1.1;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.footer__nav-link_btn:hover {
  text-decoration: none;
  background-color: #8d8d8e;
  border-color: #8d8d8e;
  color: #2b2a2c;
}
.modal {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  background-color: rgba(6, 15, 49, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal__dialog {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  background-color: #fff;
}
.modal__close {
  width: 34px;
  height: 34px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0.9rem;
  right: 0.9rem;
  z-index: 1;
  transition: transform 0.2s linear;
}
.modal__close:hover {
  transform: rotate(90deg);
}
.modal__close-image {
  width: 100%;
  height: 100%;
}
.modal-work {
  display: flex;
}
.modal-work__preview {
  width: 65%;
  position: relative;
  overflow: hidden;
}
.modal-work__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.modal-work__content {
  width: 35%;
  padding: 3.4rem 6.6rem 1rem 1.73rem;
  position: relative;
}
.modal-work__header {
  margin-bottom: 2.2rem;
}
.modal-work__title {
  margin-bottom: 0.5rem;
  font-size: 2.12rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
}
.modal-work__info {
  font-size: 1.2rem;
  color: #6a696b;
  text-transform: uppercase;
}
.modal-work__info-devider {
  margin: 0 1rem;
}
.modal-work__client {
  margin-bottom: 2.2rem;
}
.modal-work__client-title {
  margin-bottom: 0.22rem;
  font-size: 1.06rem;
  color: #2b2a2c;
  font-weight: 700;
}
.modal-work__client-company {
  font-size: 0.94rem;
  font-style: italic;
  color: #6a696b;
}
.modal-work__text {
  margin-bottom: 8.66rem;
  font-size: 0.8rem;
  color: #6a696b;
  line-height: 2;
  font-weight: 300;
}
.modal-work__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.8rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.modal-work__btn {
  padding: 0;
  font-family: inherit;
  font-size: 0.94rem;
  color: #2b2a2c;
  text-transform: uppercase;
  background: none;
  border: 0;
  cursor: pointer;
}
.modal-work__btn_prev {
  display: flex;
  align-items: center;
}
.modal-work__btn_next {
  display: flex;
  align-items: center;
}
