// main: ../style.less

.about {

    margin: 8.4rem 0;

    @media @tablet {
        margin: 4rem 0;
    }

    // .about__container

    &__container {}

    // .about__inner

    &__inner {
        display: flex;
        flex-wrap: wrap;
        max-width: 1090px;
    }

    &__photo,
    &__content {
        flex: 0 0 50%;

        @media @tablet {
            flex: 0 0 100%;
        }
    }

    // .about__photo

    &__photo {
        position: relative;

        &::before {
            content: '';
            width: 413px;
            height: 413px;
            background-color: #efefef;

            position: absolute;
            left: 1rem;
            bottom: 0;
            z-index: 1;
        }

        @media @tablet {
            order: 2;

            &::before {
                width: 100%;
                height: 300px;
                left: 0;
            }
        }


    }

    // .about__image

    &__image {
        position: absolute;
        bottom: 0;
        z-index: 1;

        @media @tablet {
            position: relative;
            margin: 0 auto;
        }
    }

    // .about__content

    &__content {
        padding-left: 3.2rem;
        margin-top: 2rem;

        @media @tablet {
            order: 1;
            margin-bottom: 2rem;
            padding-left: 0;

            text-align: center;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    // .about__title

    &__title {
        font-size: 3rem;
        font-weight: 700;
        color: @black;
        text-transform: uppercase;

        @media @notebook {
            font-size: 2.5rem;
        }

        @media @mobile {
            font-size: 2rem;
        }
    }

    // .about__bigtitle

    &__bigtitle {
        margin-bottom: 1.4rem;
        position: relative;
        left: -10px;

        font-size: 6.1rem;
        line-height: 1.1;
        color: rgb(@black, 15%);
        font-weight: 700;
        text-transform: uppercase;

        @media @notebook {
            font-size: 3.5rem;
        }

        @media @tablet {
            position: static;
        }

        @media @mobile {
            font-size: 3rem;
        }
    }

    // .about__text

    &__text {
        margin-bottom: 2.8rem;
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 2;
        color: @gray;
    }
}