// main: ../style.less

.modal-work {

    display: flex;

    // .modal-work__preview

    &__preview {
        width: 65%;
        position: relative;
        overflow: hidden;
    }

    // .modal-work__photo

    &__photo {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;

        transform: translate3d(-50%, -50%, 0);
    }

    // .modal-work__content

    &__content {
        width: 35%;
        padding: 3.4rem 6.6rem 1rem 1.73rem;
        position: relative;
    }

    // .modal-work__header

    &__header {
        margin-bottom: 2.2rem;
    }

    // .modal-work__title

    &__title {
        margin-bottom: 0.5rem;
        font-size: 2.12rem;
        color: @black;
        font-weight: 700;
        text-transform: uppercase;
    }

    // .modal-work__info

    &__info {
        font-size: 1.2rem;
        color: @gray;
        text-transform: uppercase;
    }

    &__info-devider {
        margin: 0 1rem;
    }

    // .modal-work__client

    &__client {
        margin-bottom: 2.2rem;
    }

    // modal-work__client-title

    &__client-title {
        margin-bottom: 0.22rem;
        font-size: 1.06rem;
        color: @black;
        font-weight: 700;
    }

    // modal-work__client-company

    &__client-company {
        font-size: 0.94rem;
        font-style: italic;
        color: @gray;
    }

    // .modal-work__text

    &__text {
        margin-bottom: 8.66rem;
        font-size: 0.8rem;
        color: @gray;
        line-height: 2;
        font-weight: 300;
    }

    // .modal-work__footer

    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 0 1.8rem 1rem;

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }

    // .modal-work__btn

    &__btn {

        padding: 0;

        font-family: inherit;
        font-size: 0.94rem;
        color: @black;
        text-transform: uppercase;

        background: none;
        border: 0;
        cursor: pointer;

        // .modal-work__btn_prev

        &_prev {
            display: flex;
            align-items: center;
        }

        // .modal-work__btn_next

        &_next {
            display: flex;
            align-items: center;
        }
    }
}