// main: ../style.less

.user {

    display: flex;
    z-index: 2;

    img {
        border-radius: 50%;
    }

    // .user__avatar

    &__avatar {}

    // .user__photo

    &__photo {

        @media @mobile {
            height: 40px;
        }
    }

    // .user__content

    &__content {
        padding-left: 9px;

        @media @mobile {
            display: flex;
            align-items: center;
        }
    }

    // .user__name

    &__name {
        margin-bottom: 3px;
        font-size: 1.06rem;
        font-weight: 700;
        line-height: 1.2;
        color: @black;

        @media @mobile {
            border-right: 1px solid @gray-light;
            padding-right: .7rem;
        }
    }

    // .user__prof

    &__prof {
        font-size: 0.8rem;
        color: rgb(@black, .7);

        @media @mobile {
            margin-left: .5rem;
        }
    }
}